#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    height: 200px;
    background: #000 url(Mandala.png) center center;
    background-size: cover;
    border-radius: 20px;
    }

.titulos{
    text-align: center
}

.escritos{
    text-align: center;
}

.gif{
    width: 100px;
    }
    
.con{
    display: flex;
    justify-content: center;
}
