#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    height: 100px;
    background: #000 url(Img/Mandala.png) center center;
    background-size: cover;
    border-radius: 20px;
    position: sticky;
}

.nav{
    font-size: 200%;
    color: rgb(226, 226, 226);
    background-color: blue;
    height: 50px;
    border-radius: 20px;
}

.frente{
    position: fixed;
    height: 100px;
    size: 0 auto;
}

.titulos{
    text-align: center
}

.escritos{
    text-align: center;
}

.gif{
    display: flex;
    justify-content: center;  
    margin: 100px;
}
    
.con{
    display: flex;
    justify-content: center;   

}
