#titulo{
    height: 400px;
    background: #fff url(Mandala.png) repeat-y center center;
    background-size: cover;
    border-radius: 50px;

}
p.texto
{
    color: aqua;
}
p.elif{
    color: teal;
}
div h2 {
    color:blueviolet
}
