#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    height: 200px;
    background: #fff url(img/Mandala.png)center center;
    background-size: cover;
    border-radius: 20px;
    }

.titulos{
    text-align: center
}

.escritos{
    text-align: center;
}
.miniatura{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    width: 400px;
    background: #fff url(Mandala.png) repeat-y center center / 100px 100px;
    margin: 0 center;
    size: cover;
    }

.gif{
    width: 100px;
    }
    
.con{
    display: flex;
    justify-content: center;
}
